@tailwind base;
@tailwind components;
@tailwind utilities;

.card-img-top {
    height: 300px; /* Set a fixed height for images */
    object-fit: cover; /* Ensures images cover the container without distortion */
}

.card-body {
    padding: 1.25rem;
}

.card-footer {
    font-size: 0.875rem;
}

.float-end {
    float: right;
}

.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}

.me-2 {
    margin-right: 0.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.text-muted {
    color: #6c757d;
}


/* Pagination Styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Space above the pagination */
}

.page-item {
    margin: 0; /* Reset margin for page items */
}

.page-link {
    border-radius: 5px;
    border: 1px solid #dee2e6;
    color: #007bff;
    background-color: #fff;
    padding: 0.5rem 1rem; /* Adjust padding for better spacing */
    margin: 0 4px; /* Space between pagination buttons */
    transition: background-color 0.2s, color 0.2s; /* Smooth transition for hover effects */
}

.page-link:hover {
    background-color: #e9ecef;
    color: #0056b3;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.page-item.disabled .page-link {
    background-color: #f8f9fa;
    color: #6c757d;
    border: 1px solid #dee2e6;
    cursor: not-allowed;
}

